body {
    background-color: black;
  }

  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  main,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
  }

  .vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
  }

  .vertical-margin-top {
      margin-top: 5rem;
      margin-bottom: 5rem;
  }

  .button {
    position: relative;
    height: auto;
    transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
    overflow: hidden;
    margin-bottom: 16px;
    border: 2px dotted rgb(0, 255, 0);
    background-color: transparent;
    color: rgb(0, 255, 0);
    border-radius: 0px;
  }

  .button-blue {
    color: rgb(41, 97, 218);
    border: 2px dotted rgb(41, 97, 218);
  }

  .button-red {
    color: rgb(218, 41, 41);
    border: 2px dotted rgb(218, 41, 41);
  }

  .button-orange {
    color: rgb(206, 117, 35);
    border: 2px dotted rgb(206, 117, 35);
  }

  .button-yellow {
    color: rgb(203, 206, 35);
    border: 2px dotted rgb(203, 206, 35);
  }

  .button-purple {
    color: rgb(186, 35, 206);
    border: 2px dotted rgb(186, 35, 206);
  }

  .buttonTextPadding {
    padding: 0px;
    line-height: 1.5;
    width: 100%;
  }

  .buttonContent {
    border: none;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: auto;
    position: relative;
    padding: 16px 20px;
    margin: 0px;
    font-family: "Gill Sans", sans-serif;
    font-weight: inherit;
    font-size: xx-large;
    width: 100%;
    cursor: pointer;
    appearance: none;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    background: none;
    color: inherit;
    transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
  }
  a:hover {
    color: white;
  }
  .buttonText {
    text-transform: uppercase
  }
  .logo-container {
    text-align: center;
  }
  .bio-container {
    color: white;
    text-align: center;
    font-size: xx-large;
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
  .header {
    color: wheat;
  }